.unbold{font-weight: normal;}
.paddingforindex{padding-bottom: 25px;}
.bold{font-weight: bolder;}
.subtitle{font-size: larger;}
.info{font-size: large; padding-bottom: -10px;}
.paddingforexperience{padding-bottom: 20px;}
.leftpaddingforexperience{padding-left: 100px;}
.leftpaddingforskills{padding-left: 70px;}
.fontcolor{color:rgb(254, 254, 254)}
.nounderline{text-decoration:none;}
.extrapadding{padding-left: 180px;}
.morepadding{padding-left: 210px;}
.photopadding{padding-right: 50px;}
.photopaddingleft{padding-left: 70px;}
.bottompadding{padding-bottom: 20px;}

